@model ToutesLesFormationsViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>Ceci est une vue</p>
<p> ceci est la valeur passé :  @Model.Message</p>
<p> ceci est la valeur passé :  @Model.Nombre</p>
