
@{
    ViewData["Title"] = "SaveComment";
}

<h1>Merci !</h1>
<p>Votre avis a bien été enregistré !</p>

<div>
    @*@Html.ActionLink("BackList", new { controller = "Formation", action = "Index" })*@
    @Html.ActionLink("BackList", "ToutesLesFormations", "Formation")
</div>