
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErreurEnvoiEmail</title>
</head>
<body>
    <h1>ErreurEnvoi</h1>
    <p>Nous sommes désolé l'envoi du message a échoué. veuillez résseiller uttérieurement</p>

</body>
</html>
