
@{
    ViewData["Title"] = "VueErreurHtml2";
}

<h1>VueErreurHtml2</h1>

 @*problème sur la balise textarea*@  

@*<textarea cols="5">*@

<textarea cols="5"></textarea>
<input type="submit" value="OK" />